@import '_variables';

.header {
    background-color: $color-dark;
    color: $color-clear;
    height: 50px;
    
    h1 {
        height: 50px;
        line-height: 50px;
        font-size: 30px;
        margin-left: 15px;
        border: 0px;
    }

    ul {
        position: absolute;
        right: 5px;
        top: 5px;

        li {
            display: inline-block;

            a {
                display: inline-block;
                width: 40px;
                height: 40px;
                line-height: 40px;
                font-size: 23px;
                text-align: center;

                &:hover {
                    background-color: $color-primary;
                }
            }
        }
    }
}

.modal {
    display: block;
    position: absolute;
    width: 280px;
    background-color: $color-primary;
    border-radius: 10px;
    top: 150px;
    padding: 20px;
}

#svg{
    width: 60%;
    min-width: 600px;
    height: 500px;
    border: 1px solid black;
}
#link {
    position: absolute;
    top: 5px;
    right: 100px;
    height: 40px;
    width: 260px;
    
    input {
        display: inline-block;
        font-size: 20px;
        height: 28px;
        width: 200px;
        border: 0px;
        vertical-align: middle;

    }

    a {
        display: inline-block;
        width: 40px;
        height: 40px;
        line-height: 40px;
        font-size: 23px;
        text-align: center;

        &:hover {
            background-color: $color-primary;
        }
    }
}