// Fonts
$font-stack: sans-serif;

// Colors
$color-dark: #1B9E61;
$color-clear: #F2FFA6;

$color-primary: #DBFF4A;
$color-secondary: #1FB870;
$color-tertiary: #A8ED28;

$color-background: #F8FFD2;
$color-text: #303030;