<header class="header">
    <h1>Plantree</h1>
    <ul>
        <li><a href="#"><i class="fa fa-file-o"></i></a></li>
        <li><a href="#"><i class="fa fa-floppy-o"></i></a></li>
    </ul>
    <div id="link">
      <input type="text" value="http://plantree.dev/3858f62230ac3c915f300c664312c63f" />
      <a href="#"><i class="fa fa-link"></i></a>
    </div>
</header>
<div id="main">
</div>